<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMusicStreamingManagerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50408/MusicStreamingManagerService..svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMusicStreamingManagerService"
                contract="WCFMusicStreamManagerService.IMusicStreamingManagerService"
                name="BasicHttpBinding_IMusicStreamingManagerService" />
        </client>
    </system.serviceModel>
</configuration>